<template>
  <v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="sendMessage(currentMessage)"
  >
    <v-snackbar :timeout="6000" multi-line top v-model="snackbar" color="error">
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-container>
      <v-flex xs10 class="mt-4 elevated white pa-4 align-end">
        <v-layout v-for="message in messages" :key="message.timestamp" row>
          <v-flex xs12>
            <v-card
              class="my-1 mx-auto float-right"
              max-width="300"
              color="primary"
            >
              <v-list-item v-if="message.uuid === uuid">
                <v-list-item-content>
                  <div class="text-overline mb-1">
                    You @ {{ new Date(message.timestamp).toLocaleTimeString() }}
                  </div>
                  <v-list-item-title class="text-subtitle-1 mb-1 white--text">
                    <strong>{{ message.text }}</strong>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-card>
            <v-card class="my-1 mx-auto float-left" max-width="300">
              <v-list-item v-if="message.uuid !== uuid">
                <v-list-item-content>
                  <div class="text-overline mb-1">
                    {{ message.author }} @
                    {{ new Date(message.timestamp).toLocaleTimeString() }}
                  </div>
                  <v-list-item-title class="text-subtitle-1 mb-1 primary--text">
                    <strong>{{ message.text }}</strong>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-flex>
        </v-layout>
        <v-text-field
          label="New Message"
          v-model="currentMessage"
          class="mt-12"
        >
        </v-text-field>
        <v-btn
          @click="sendMessage(currentMessage)"
          @keydown.enter.prevent
          @keyup.enter="sendMessage(currentMessage)"
        >
          Send
        </v-btn>
        <v-spacer></v-spacer>
        <v-subheader class="float-right"
          >Logged in as "<strong>{{ name }}</strong
          >"</v-subheader
        >
      </v-flex>
    </v-container>
  </v-layout>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';
import * as axios from 'axios';

export default {
  props: {
    name: String,
  },
  data: () => ({
    snackbar: false,
    currentMessage: '',
    messages: [],
    totalChatHeight: 0,
    connection: {},
    errorMessage: '',
    uuid: '',
    backendHealthy: false,
  }),

  created() {
    this.uuid = uuidv4();

    this.checkBackend();

    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data);
      data.timestamp = Date.now();
      this.messages.push(data);
    };

    this.$socket.onopen = function() {
      console.log('successfully connected to the websocket server');
    };
  },

  methods: {
    sendMessage: function(text) {
      if (!text) return;
      const message = JSON.stringify({
        text,
        uuid: this.uuid,
        author: this.name,
      });
      this.$socket.send(message);
      this.currentMessage = '';
    },
    checkBackend: function() {
      axios
        .get('http://localhost:3000/health')
        .then((res) => {
          if (res.status === 200 && res.data.ok === true) {
            console.log('backend is healthy');
            this.backendHealthy = true;
            return;
          } else {
            console.log(
              `backend check failed, response code was ${res.status}, data was ${res.data}`
            );
            setTimeout(() => this.checkBackend(), 10000);
          }
        })
        .catch((err) => {
          console.log(err);
          console.log('backend not healthy yet, retrying');
          setTimeout(() => this.checkBackend(), 10000);
        });
    },
  },
};
</script>
