<template>
  <v-row justify="center">
    <v-dialog v-model="isDialogOpen" persistent max-width="600px">
      <v-form ref="form" @submit.prevent="submit">
        <v-card>
          <v-card-title>
            <span class="text-h5">What's your name?</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="form.name"
                    :rules="rules.name"
                    required
                    clearable
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              text
              type="submit"
              :disabled="!isFormValid"
              @click="isDialogOpen = false"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  data: () => ({
    isDialogOpen: true,
    form: {
      name: '',
    },
    rules: {
      name: [(val) => (val || '').length > 0 || 'This fields is required'],
    },
  }),
  computed: {
    isFormValid() {
      return this.form.name;
    },
  },
  methods: {
    submit() {
      if (this.isFormValid) {
        console.log('form is valid');
        this.isDialogOpen = false;
        this.$emit('updateUserName', this.form.name);
      } else {
        console.log('form is NOT valid');
      }
    },
  },
};
</script>
