<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.upchieve.org/docs/logo.svg"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <Modal @updateUserName="updateName" />
      <Chat :name="name" />
    </v-main>
  </v-app>
</template>

<script>
import Chat from './components/Chat';
import Modal from './components/Modal';

export default {
  name: 'App',

  components: {
    Chat,
    Modal,
  },

  data: () => ({
    isDialogOpen: true,
    name: '',
  }),
  methods: {
    updateName(newName) {
      this.name = newName;
    },
  },
};
</script>
